body {
    background-color: #DDDDDE;
    font-family: Arial, sans-serif;
}
#LogoPrimeiraImg {
    display: block;
    margin: auto;
    justify-content: center;  /* Corrigido de 'ustify-content' para 'justify-content' */
    width: 500px;
    height: 100px;
}
#usuario, #senha {
    width: 100%;  
    padding: 2%;  
    border: none;  
    border-bottom: 2px solid #ffffff;  
    background-color: transparent;  
    color: rgb(255, 255, 255);  
    font-size: 18px;  
    margin: 10px;
}
#h1user {
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 2%;
    margin: 0%;
}

#h1Senha {
    font-size: 40px;  
    color: rgb(255, 255, 255);
    padding: 2%;
    margin: 0%;
}

#esquecisenha {
    padding: 2%;
    font-weight: normal; 
    color: #e4e4e4;
    font-size: 18px;
    text-align: left;
}
/* esta é a div*/
#login {
    background-color: #1B5994;
    text-align: center;
    display: block;
    width: 30%;        
    margin: 0 auto;
    padding: 4%;
    margin-top: 10px;  
    margin-bottom: 10px;
    border-radius: 25px;
}

#buttonLogin {
    color: #1B5994;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 30px; 
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

#Cadastrar {
    color: #1B5994;
    background-color: #ffffff;
    border-radius: 25px;
    font-size: 15px;      
    padding: 2%;
    width: 100%;
    cursor: pointer;
    
}


#login h1 a {
    background-color: #f7f7f7;
    text-decoration: none;  
    font-weight: normal; 
    color: #1B5994;
    font-size: 20px;  /* Ajuste de fonte */
    display: block;
    padding: 10px;
}



/* configuração pagina home*/

/* Estilo do cabeçalho */
#headerhome {
    background-color: #1B5994;  /* Cor de fundo */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed; /* Deixa o header fixo no topo */
    top: 0;
    left: 0;
    z-index: 100;
}

#imghome {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}
#novo-chamado {
    color: #ffffff;
}
/* Menu hamburguer */
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

/* Contêiner para os botões */
.main-content {
    margin-top: 120px; /
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container {
    display: flex;
    gap: 40px;
}

.action-button {
    background-color: #1B5994;
    color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 250px;
    height: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.action-button:hover {
    transform: scale(1.1);
}

#navigation {
    display: none; /* O menu pode ser controlado via JS, se necessário */
}