body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 5px;
    padding: 10px;
    text-align: center;
}


.header-novochamado {
    text-align: center;
    color: white;
    background-color: #0078D4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-novochamado > h1 {
    height: 40px;
}


#container-novochamado {
    display: flex;
    flex-direction: column;
    background-color: #0078D4;
    padding: 40px;
    border-radius: 25px;
    margin-top: 150px; 
}


#menu-chamado {
    display: flex;
    flex-direction: row;
    background-color: #E2E2E2;
    padding: 20px;
    border-radius: 25px;
}


.conteudo-menuchamado {
    text-align: center;
}


#descreva-chamado {
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 25px;
    margin-top: 10px;
}

#descreva-chamado > p {
    text-align: left;
}

#discricao-problema {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 25px;
    height: 250px;
    margin: 10px;
}


#button-abrirchamado {
    background-color: #0078D4;
    color: white;
    width:200px;
    height: 100px;
    font-size: 20px;
    padding: 20px;
    border-radius: 25px;
    margin-top: 15px;
}


#fim-chamado {
    display: flex;
    flex-direction: row;
}

#datas {
    background-color: white;
    font-size: 15px;
    padding: 20px;
    border-radius: 25px;
    margin: 5px;
}