#links {
    background-color: #0078D4;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

h2 {
    color: white;
}

#links > ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
}